
/*------------------NAVBAR CSS------------------------*/
.Nav-bar{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 12vh;
  background-color: #111827;
}
.Navbar-Section-Left{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.Viworktech-logo{
  height: 80px;
  width: 80px;
}
.Viworktech-Name{
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.Navbar-Section-Middle{
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: center;
}
.Link-container{
  text-decoration: none;
  color: #D1D5DB;
  font-size: 14px;
  margin-right: 15px;
}
.Link-container:hover{
  color: white;
  cursor: pointer;
}

.Navbar-Section-Right{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.Contact-Us-btn{
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: rgb(167, 62, 167);
}